<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<head>
    <link rel="stylesheet" href="{{ site.data.manifest['docs.css'] }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
    <title>Peter Kim</title>
</head>
<body class="p-4 sm:p-12 sm:max-w-lg">
{{ content }}
</body>
</html>